In [15]:
import numpy as np
import pandas as pd

from sklearn.datasets import fetch_openml
dataset = fetch_openml(name='adult', version=2, as_frame=True)
x = pd.DataFrame(dataset.data)
y = pd.DataFrame(dataset.target)
x.isnull().sum()

/usr/local/lib/python3.10/dist-packages/sklearn/datasets/_openml.py:1022: FutureWarning: The default value of `parser` will change from `'liac-arff'` to `'auto'` in 1.4. You can set `parser='auto'` to silence this warning. Therefore, an `ImportError` will be raised from 1.4 if the dataset is dense and pandas is not installed. Note that the pandas parser may return different data types. See the Notes Section in fetch_openml's API doc for details.
  warn(

age                  0
workclass         2799
fnlwgt               0
education            0
education-num        0
marital-status       0
occupation        2809
relationship         0
race                 0
sex                  0
capital-gain         0
capital-loss         0
hours-per-week       0
native-country     857
dtype: int64

In [16]:
# x.isnull().sum()
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             48842 non-null  float64
 1   workclass       46043 non-null  category
 2   fnlwgt          48842 non-null  float64
 3   education       48842 non-null  category
 4   education-num   48842 non-null  float64
 5   marital-status  48842 non-null  category
 6   occupation      46033 non-null  category
 7   relationship    48842 non-null  category
 8   race            48842 non-null  category
 9   sex             48842 non-null  category
 10  capital-gain    48842 non-null  float64
 11  capital-loss    48842 non-null  float64
 12  hours-per-week  48842 non-null  float64
 13  native-country  47985 non-null  category
dtypes: category(8), float64(6)
memory usage: 2.6 MB

In [17]:
# Handling Missing data
from sklearn.impute import SimpleImputer
si_mode = SimpleImputer(strategy= "most_frequent")
obj_cols = x.select_dtypes(["category"])

for col in obj_cols :
  x.loc[:,col] = si_mode.fit_transform(x[[col]])

x.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
dtype: int64

In [18]:
# Encoding string datatypes into numeric datatypes

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
obj_cols = x.select_dtypes(["category"])

for col in obj_cols:
    x[col] = le.fit_transform(x[col])

x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             48842 non-null  float64
 1   workclass       48842 non-null  int64
 2   fnlwgt          48842 non-null  float64
 3   education       48842 non-null  int64
 4   education-num   48842 non-null  float64
 5   marital-status  48842 non-null  int64
 6   occupation      48842 non-null  int64
 7   relationship    48842 non-null  int64
 8   race            48842 non-null  int64
 9   sex             48842 non-null  int64
 10  capital-gain    48842 non-null  float64
 11  capital-loss    48842 non-null  float64
 12  hours-per-week  48842 non-null  float64
 13  native-country  48842 non-null  int64
dtypes: float64(6), int64(8)
memory usage: 5.2 MB

In [19]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [21]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators = 100)

model.fit(x_train,y_train)
y_pred = model.predict(x_test)

from sklearn.metrics import accuracy_score , confusion_matrix
acc = accuracy_score(y_pred,y_test)

print("Accuracy : ", acc)

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

Accuracy :  0.8562800696079435